<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

<div class="containerCv">
    <div class="header">
        <div class="full-name">
            <span class="first-name">{{cv.name}}</span>
        </div>
        <div class="contact-info">
            <span class="email">Email: </span>
            <span class="email-val">{{cv.email}}</span>
            <span class="separator"></span>
            <span class="phone">Phone: </span>
            <span class="phone-val">111-222-3333</span>
        </div>

        <div class="about">
            <span class="position"> Information </span>
            <span class="desc">
{{cv.information}}
            </span>
        </div>
    </div>
</div>