<div class="login-box">
    <h2>Coursera</h2>
    <form method="post" action="/news/store">
        <div class="user-box">
            <input type="text" name="title" required="">
            <label>Article Title</label>
        </div>
        <div class="user-box">
            <input type="text" name="body" required="">
            <label>Article body</label>
        </div>
        <div class="user-box">
            <input type="text" name="image" required="">
            <label>Article image</label>
        </div>
        <div class="user-box">
            <input type="text" name="author" required="">
            <label>Article's author</label>
        </div>
        <button type="submit" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </form>
</div>