<div class="messageC">
<a class="nav-link" href="/message/operation" style="color: #8c1c50" >
    <div  class="message notification">
        <div  class="message__icon">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </div>
        <div class="message__body">
            <h2 class="message__Tittle">Operation team</h2>
            <p class="message__msg">Report Errors</p>
        </div>
        <div class="message__close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</a>

<a class="nav-link" href="/message/academic" style="color: #8c1c50" id="message">
<div  class="message notification">
    <div  class="message__icon">
        <i class="fa fa-bell" aria-hidden="true"></i>
    </div>
    <div class="message__body">
        <h2 class="message__Tittle">Academic team</h2>
        <p class="message__msg">Course Information</p>
    </div>
    <div class="message__close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
</div>
</a>
</div>