<div class="mt-4" style="color: #f9f7f1" >
    <h3>User List</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">Email</th>
            <th scope="col">User id</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {{#each users}}
            <tbody>
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this._id}}</td>
            </tr>
            </tbody>
        {{/each}}
    </table>
</div>
