* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

.containerCv {
  max-width: 700px;
  background: #fff;
  margin: 0px auto 0px;
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px; }

.header {
  margin-bottom: 30px; }
  .header .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .header .first-name {
    font-weight: 700; }
  .header .last-name {
    font-weight: 300; }
  .header .contact-info {
    margin-bottom: 20px; }
  .header .email,
  .header .phone {
    color: #999;
    font-weight: 300; }
  .header .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px; }
  .header .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline; }
