

<div class="login-box">
    <h2>Register</h2>
    <form method="post" action="/authen/login">
        <div class="user-box">
            <input type="text" name="username" required="">
            <label>User Name</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="">
            <label>PassWord</label>
        </div>
        <div class="register-wrap">
            <p class="text-register">Forgot your password ?
                <a href="/authen/registerForm">Register</a>
            </p>
        </div>
        <button type="submit" onclick="function makeUi() {
             const loginHeader=document.getElementById('login')
             console.log(loginHeader)
             loginHeader.innerText= 'Your courses'
        }" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign in
        </button>
    </form>
</div>