<div class="login-box">
    <h2>Confirmation</h2>
    <form method="post" action="/authen/resetpassword/{{user._id}}?_method=PUT" >
        <div class="user-box">
            <input type="password" name="newPassword" required="" id="password">
            <label>New Passwor</label>
        </div>
        <div class="user-box">
            <input type="password" name="confirmpassword" required="" id="retype_password" onblur="validate()">
            <label>Confirm Password</label>
        </div>
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </form>
</div>
<script>
    let password=document.getElementById('password')
    let confirmPassword= document.getElementById('retype_password')

    let form=document.getElementById('myform')
    let validate=function () {
        if(password.value===confirmPassword.value){
            return
        }
        else{
            alert("Password not same")
        }
    }

</script>