

<div class="login-box">
    <h2>Register</h2>
    <form method="post" action="/authen/register">
        <div class="user-box">
            <input type="text" name="username" required="">
            <label>User Name</label>
        </div>
        <div class="user-box">
            <input type="text" name="email" required="">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="">
            <label>PassWord</label>
        </div>
        <button type="submit" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign up
        </button>
    </form>
</div>