* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}


.containerCv {
  max-width: 700px;
  background: #fff;
  margin: 0px auto 0px;
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px;
}

.header {
  margin-bottom: 30px;

  .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .first-name {
    font-weight: 700;
  }

  .last-name {
    font-weight: 300;
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .email ,
  .phone {
    color: #999;
    font-weight: 300;
  }

  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }

  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
}

.messageC{
  position: fixed;
  top: 35%;
  left: 35%;
}

.message.notification{
  margin-top: 30px;
  display: flex;
  background-color: grey;
  align-items:center;
  padding: 20px 0;
  border-radius: 5px;
  border-left: 1rem solid;
  box-shadow: 0 5px 8px rgba(0,0,0,0.08);
  box-sizing: border-box;
  height: 100px;
  width: 400px;

}

body > div{
  margin: auto;
}
div >div{
  margin: auto;
}









