
<footer class="bg-dark text-center text-white visually-hidden" >
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->
<!--    <div class="icons">-->
<!--        &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--        <section class="mb-4">-->
<!--            &lt;!&ndash; Facebook &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-facebook-f"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Twitter &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-twitter"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Google &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-google"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Instagram &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-instagram"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-linkedin-in"></i-->
<!--            ></a>-->

<!--            &lt;!&ndash; Github &ndash;&gt;-->
<!--            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"-->
<!--            ><i class="fab fa-github"></i-->
<!--            ></a>-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--    </div>-->
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>