
<main>
    <div class="pelicula-principal">
        <div class="contenedor">
            <h3 class="titulo">{{courses.name}}</h3>
            <p class="descripcion">
               {{courses.description}}
            </p>
            <button role="button" class="boton"><i class="fas fa-play"></i>Study Now</button>
        </div>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{courses.vidId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="listgroup">
        <h3>Relative Courses</h3>
        <ul class="list-group" id="job-detail-danger">
            <a class="list-group-item list-group-item-dark">Cras justo odio</a>
            <a class="list-group-item list-group-item-dark">Dapibus ac facilisis in</a>
            <a class="list-group-item list-group-item-dark">Morbi leo risus</a>
            <a class="list-group-item list-group-item-dark">Porta ac consectetur ac</a>
            <a class="list-group-item list-group-item-dark">Vestibulum at eros</a>
            <a class="list-group-item list-group-item-dark">Vestibulum at eros</a>
            <a class="list-group-item list-group-item-dark">Vestibulum at eros</a>
            <a class="list-group-item list-group-item-dark">Vestibulum at eros</a>
        </ul>
    </div>
</main>
