<main>
    <div class="pelicula-principal">
        <div class="contenedor">
            <h3 class="titulo">{{courses.name}}</h3>
            <p class="descripcion">
               {{courses.description}}
            </p>
            <button role="button" class="boton"><i class="fas fa-play"></i>Study Now</button>
        </div>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{courses.vidId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</main>
